<div class="dashboard-container">
    <!--sidebar-->
    <app-nav></app-nav>

    <div class="dashboard-content">
        <header class="dashboard-header">
            <h1>Dashboard</h1>
            <button class="common-button btn toggle-btn" (click)="authService.logout()">Logout</button>
        </header>
        <main class="dashboard-main">
            <section class="welcome-section">
                <div class="welcome-text">
                    <h2>Welcome Back!</h2>
                    <p>You’ve successfully logged in. Choose an option from the sidebar.</p>
                </div>
            </section>
        </main>

        <footer class="dashboard-footer">
            <p>&copy; 2025 AceUp Production. All rights reserved.</p>
        </footer>
    </div>
</div>